#btn-large{
    border: none;
    padding: 16px 36px;
    background-color: var(--btn);
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    border-radius: 12px;
}

#btn-large:hover{
    border: none;
    padding: 16px 36px;
    background-color: var(--pri500);
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    border-radius: 12px;
    cursor: pointer;
}



#btn-large-white{
    border: none;
    padding: 16px 36px;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    border-radius: 12px;
    color: var(----pri700);
}
