.sectiontitle-left h3{
    color: var(--pri400);
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 16px;
}

.sectiontitle-left h2{
    color: var(--pri600);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px; /* 120.833% */
    letter-spacing: -1.92px;
    margin-bottom: 16px;
}

.sectiontitle-left h2 span{
    font-size: 48px;
    font-weight: 300;
    line-height: 100%;
    color: var(--pri600);
    margin-bottom: 20px;
}

.sectiontitle-left p{
    color: var(--gs);
    font-size: 22px;
    font-weight: 400;
    line-height: 140%; /* 36px */
    letter-spacing: -0.96px;
}

.media-introduce{
    background-color: var( --pri700);
}

.media-introduce-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.sectiontitle-bg-brown h3{
    color: var(--gs600);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 28px;
}

.sectiontitle-bg-brown h2{
    color: var(--gs500);
    font-size: 48px;
    font-weight: 700;
    line-height: 48px; /* 120.833% */
    letter-spacing: -1.92px;
    margin-bottom: 16px;
    line-height: 120%;
}

.sectiontitle-bg-brown p{
    color: var(--p);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 36px */
    letter-spacing: -0.96px;
}