:root {
    --bg : #F3F3F3;
    --header_il : #433A31;
    --header_il_hover : #86715C;
    --main_hero_font : #F3F3F3;
    --pri400: #56653a;
    --pri600: #433A31;
    --gs: #656567;
    --p : #98989A;
    --btn: #768163;
    --pri300: #7d8d62;
    --pri500: #4f593a;
    --border : #D3D3D3;
    --pri700:#392613;
    --gs600:#C7C3BB;
    --gs500:#F1EFEA;
    --gs700:#858079;
  }